---
export const prerender = false;

import Navbar from "../layouts/nav.astro";

const account = await Astro.session?.get("userid");

if (account) {
  return Astro.redirect("/");
}
---

<Navbar>
  <div class="flex justify-center items-center fixed inset-0 flex-col pointer-events-none">
    <div class="bg-gray-600 p-2 py-0 rounded-xl w-1/2 pointer-events-auto">
      <div>
        <h1 class="text-5xl m-6 text-center font-poppins">Login</h1>
      </div>
      <form @submit.prevent="post" class="flex flex-col justify-center">
        <input
          class="rounded-xl m-2 h-12 text-3xl text-center bg-white text-black"
          placeholder="Username"
          id="username"
          required
          maxlength="50"
        />
        <input
          class="rounded-xl m-2 h-12 text-3xl text-center bg-white text-black"
          placeholder="Password"
          type="password"
          id="password"
          required
          maxlength="1000"
        />
        <button
          type="submit"
          class="rounded-xl m-2 bg-blue-500 font-rubik text-4xl text-center text-white h-12 hover:bg-blue-700 cursor-pointer"
        >
          Submit
        </button>
      </form>
      <a href="/signup" class="text-white hover:underline">Sign Up</a>
    </div>
  </div>
</Navbar>

<script>
  import { actions } from "astro:actions";
import { createNotification } from "../assets/createNotification";

  const form = document.querySelector("form");

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();

    const username = (document.getElementById("username") as HTMLInputElement)
      ?.value;
    const password = (document.getElementById("password") as HTMLInputElement)
      ?.value;
    const response = await actions.login({ username, password });
    if (response.data?.status === "successful") {
      window.location.href = "/";
    } else if (response.data?.status === "error") {
      createNotification(response.data?.message || "An error occurred", 3000);
    }
  });
</script>
