---
import { pool } from "../libs/db";

import type { Deck } from "../assets/types";

const userid = await Astro.session?.get("userid");
let decks: Deck[] = [];
if (userid) {
  const [rows] = await pool.execute(
    "SELECT DeckId, Title, Length FROM Decks WHERE UserId = ?",
    [userid]
  );
  decks = rows as Deck[];
}
---

<div
  class="grid justify-center w-full grid-cols-[repeat(auto-fill,minmax(288px,300px))] gap-2 mt-5"
>
  {
    decks.map((deck) => (
      <a class="flex justify-center" href={`/view/${deck.DeckId}`}>
        <div class="flex flex-col p-2 bg-gray-400 rounded-xl w-72 h-72 justify-center my-2">
          <h2 class="text-gray-700 text-sm">Count: {deck.Length}</h2>
          <h1 class="text-2xl text-start break-words overflow-hidden">
            {deck.Title}
          </h1>
        </div>
      </a>
    ))
  }
</div>
