---
import { getConnection } from "../libs/db";
const connection = await getConnection(Astro);

const user = await Astro.session?.get("userid");
let username = "Login";
let href = "/login";

if (user) {
  const [rows] = await connection.query(
    "SELECT Username FROM Accounts WHERE UserId = ?",
    [user]
  );
  const accounts = rows as any[];
  username = accounts.length > 0 ? accounts[0].Username : "Login";

  href = "/account";
}

Astro.locals.runtime.ctx.waitUntil(connection.end());
---

{
  user && (
    <a href="/create" class="text-white hover:underline">Create</a>
    <button id="logout" class="text-white hover:underline hover:cursor-pointer">
      logout
    </button>
  )
}

<a href={href} class="text-white hover:underline">{username}</a>

<script>
  import { actions } from "astro:actions";
  const logoutButton = document.getElementById("logout");
  if (logoutButton) {
    logoutButton.addEventListener("click", async () => {
      await actions.logout();
      window.location.href = "/";
    });
  }
</script>
